
  
  main {
    position: relative;
    left: 200px;
    top: 100px;
    width: calc(100% - 200px);
    height: calc(100vh + 100px);
    background: linear-gradient(135deg, #f6c9e6, #a0c4ff);
  display: flex;
  justify-content: center;
  align-items: center;
     div {
        font-weight: bolder;
  font-size: 32px;
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  bottom:140px ;
    }
}
  
 
  